.calculator {
    width: 300px;
    margin: 100px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.display {
    margin-bottom: 10px;
}

.display input {
    width: 100%;
    height: 40px;
    font-size: 20px;
    text-align: right;
}

.keys button {
    width: 50px;
    height: 50px;
    font-size: 20px;
    margin: 5px;
}